NodeRed_sandbox/flow.json
[
    {
        "id": "6a163fc1071c16f5",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "76e63fa4b2b9d426",
        "type": "mqtt in",
        "z": "6a163fc1071c16f5",
        "name": "",
        "topic": "RS485_port",
        "qos": "0",
        "datatype": "json",
        "broker": "f8aea8534f5e2a70",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 130,
        "y": 100,
        "wires": [
            [
                "26598d507b65c360",
                "0a43f1f397c8d9ba"
            ]
        ]
    },
    {
        "id": "26598d507b65c360",
        "type": "debug",
        "z": "6a163fc1071c16f5",
        "name": "RS485_port",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 350,
        "y": 40,
        "wires": []
    },
    {
        "id": "1207a6742d9a9ee0",
        "type": "mqtt in",
        "z": "6a163fc1071c16f5",
        "name": "",
        "topic": "Scale_port",
        "qos": "0",
        "datatype": "json",
        "broker": "f8aea8534f5e2a70",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 140,
        "y": 1800,
        "wires": [
            [
                "5f2c53389abeb403",
                "f1fdd1aafee45046"
            ]
        ]
    },
    {
        "id": "5f2c53389abeb403",
        "type": "debug",
        "z": "6a163fc1071c16f5",
        "name": "Scale_port",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 370,
        "y": 1760,
        "wires": []
    },
    {
        "id": "28c5d13298b4c2da",
        "type": "mqtt in",
        "z": "6a163fc1071c16f5",
        "name": "",
        "topic": "RS232_port",
        "qos": "0",
        "datatype": "json",
        "broker": "f8aea8534f5e2a70",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 150,
        "y": 2040,
        "wires": [
            [
                "43be0c8349e75c46",
                "79075ac6fe1986ba"
            ]
        ]
    },
    {
        "id": "43be0c8349e75c46",
        "type": "debug",
        "z": "6a163fc1071c16f5",
        "name": "RS232_port",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 370,
        "y": 1980,
        "wires": []
    },
    {
        "id": "95de06d4c940c1f5",
        "type": "mqtt in",
        "z": "6a163fc1071c16f5",
        "name": "",
        "topic": "Setup_port",
        "qos": "0",
        "datatype": "json",
        "broker": "f8aea8534f5e2a70",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 120,
        "y": 440,
        "wires": [
            [
                "5a44929e0bc16d26",
                "995a0561893097a7"
            ]
        ]
    },
    {
        "id": "5a44929e0bc16d26",
        "type": "debug",
        "z": "6a163fc1071c16f5",
        "name": "Setup_port",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 350,
        "y": 380,
        "wires": []
    },
    {
        "id": "44570ad091103cf5",
        "type": "mqtt in",
        "z": "6a163fc1071c16f5",
        "name": "",
        "topic": "GPIO_port",
        "qos": "0",
        "datatype": "json",
        "broker": "f8aea8534f5e2a70",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 140,
        "y": 2320,
        "wires": [
            [
                "8c91be5f3b4385b8",
                "5a47d3f9ce3f05c5"
            ]
        ]
    },
    {
        "id": "8c91be5f3b4385b8",
        "type": "debug",
        "z": "6a163fc1071c16f5",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 350,
        "y": 2260,
        "wires": []
    },
    {
        "id": "f1fdd1aafee45046",
        "type": "function",
        "z": "6a163fc1071c16f5",
        "name": "",
        "func": "var msg_lst = []\n\nfor (var key of Object.keys(msg.payload)) {\n    var temp = {}\n    temp.topic = key\n    temp.payload = msg.payload[key]\n    msg_lst.push(temp)\n}\n\nreturn msg_lst;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 1840,
        "wires": [
            [
                "9daf6c2a6bc219eb",
                "a71e4673f1e889a4"
            ]
        ]
    },
    {
        "id": "0a43f1f397c8d9ba",
        "type": "function",
        "z": "6a163fc1071c16f5",
        "name": "",
        "func": "var msg_lst = []\n\nfor (var key of Object.keys(msg.payload)) {\n    var temp = {}\n    temp.topic = key\n    temp.payload = msg.payload[key]\n    msg_lst.push(temp)\n}\n\nreturn msg_lst;\n",
        "outputs": 8,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 180,
        "wires": [
            [
                "3190e9946ec35f0a",
                "c2c2ed170de59b86"
            ],
            [
                "3190e9946ec35f0a",
                "c2c2ed170de59b86"
            ],
            [
                "3190e9946ec35f0a",
                "c2c2ed170de59b86"
            ],
            [
                "be82686c60dc7a25",
                "e0d59c8ad25b6e98",
                "c2c2ed170de59b86",
                "15a7d709a5b4456c"
            ],
            [
                "15a7d709a5b4456c",
                "c2c2ed170de59b86",
                "a7922f99f956f0c4"
            ],
            [
                "15a7d709a5b4456c",
                "c2c2ed170de59b86"
            ],
            [
                "34977b5f0c3a9637",
                "c2c2ed170de59b86"
            ],
            [
                "34977b5f0c3a9637",
                "c2c2ed170de59b86"
            ]
        ]
    },
    {
        "id": "3190e9946ec35f0a",
        "type": "ui_chart",
        "z": "6a163fc1071c16f5",
        "name": "",
        "group": "297f87ae35596935",
        "order": 20,
        "width": 18,
        "height": 5,
        "label": "Burner",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "30",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1750,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "9daf6c2a6bc219eb",
        "type": "ui_gauge",
        "z": "6a163fc1071c16f5",
        "name": "",
        "group": "62c1eaa282dd444b",
        "order": 2,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "Scale",
        "label": "g/min",
        "format": "{{value}}",
        "min": 0,
        "max": "15",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 570,
        "y": 1840,
        "wires": []
    },
    {
        "id": "a71e4673f1e889a4",
        "type": "debug",
        "z": "6a163fc1071c16f5",
        "name": "Scale",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 570,
        "y": 1760,
        "wires": []
    },
    {
        "id": "be82686c60dc7a25",
        "type": "debug",
        "z": "6a163fc1071c16f5",
        "name": "TC10",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 590,
        "y": 40,
        "wires": []
    },
    {
        "id": "e0d59c8ad25b6e98",
        "type": "ui_gauge",
        "z": "6a163fc1071c16f5",
        "name": "",
        "group": "297f87ae35596935",
        "order": 2,
        "width": 5,
        "height": 4,
        "gtype": "gage",
        "title": "TC10 Gauge",
        "label": "oC",
        "format": "{{value}}",
        "min": 0,
        "max": "500",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1770,
        "y": 220,
        "wires": []
    },
    {
        "id": "79075ac6fe1986ba",
        "type": "function",
        "z": "6a163fc1071c16f5",
        "name": "",
        "func": "var msg_lst = []\n\nfor (var key of Object.keys(msg.payload)) {\n    var temp = {}\n    temp.topic = key\n    temp.payload = msg.payload[key]\n    msg_lst.push(temp)\n}\n\nreturn msg_lst;\n",
        "outputs": 6,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 2100,
        "wires": [
            [
                "6c057fe95fe9a256",
                "929dd54f826020b2",
                "72da778604f3d743"
            ],
            [
                "6c057fe95fe9a256"
            ],
            [
                "6c057fe95fe9a256"
            ],
            [
                "6c057fe95fe9a256"
            ],
            [
                "6c057fe95fe9a256"
            ],
            []
        ]
    },
    {
        "id": "6c057fe95fe9a256",
        "type": "ui_chart",
        "z": "6a163fc1071c16f5",
        "name": "",
        "group": "62c1eaa282dd444b",
        "order": 4,
        "width": 12,
        "height": 10,
        "label": "Gas Comp",
        "chartType": "horizontalBar",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "10",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 590,
        "y": 2060,
        "wires": [
            []
        ]
    },
    {
        "id": "929dd54f826020b2",
        "type": "ui_gauge",
        "z": "6a163fc1071c16f5",
        "name": "",
        "group": "62c1eaa282dd444b",
        "order": 1,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "CO gauge",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "5",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 790,
        "y": 1980,
        "wires": []
    },
    {
        "id": "72da778604f3d743",
        "type": "debug",
        "z": "6a163fc1071c16f5",
        "name": "CO",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 570,
        "y": 1980,
        "wires": []
    },
    {
        "id": "995a0561893097a7",
        "type": "function",
        "z": "6a163fc1071c16f5",
        "name": "",
        "func": "var msg_lst = []\n\nfor (var key of Object.keys(msg.payload)) {\n    var temp = {}\n    temp.topic = key\n    temp.payload = msg.payload[key]\n    msg_lst.push(temp)\n}\n\nreturn msg_lst;\n",
        "outputs": 14,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 560,
        "wires": [
            [
                "15a7d709a5b4456c",
                "c2c2ed170de59b86",
                "a6b44c3b2be4e995"
            ],
            [
                "3190e9946ec35f0a",
                "a3962241f81d0c5b",
                "c2c2ed170de59b86",
                "c78c008f96fe6c10"
            ],
            [
                "576a1e385a0de230"
            ],
            [
                "fcb363cc5ca4e7fe"
            ],
            [
                "60309770f42b06e6"
            ],
            [
                "399fa0946ba866d2"
            ],
            [
                "fdb28dab225e3cb3"
            ],
            [
                "bc3953e02482fe0f",
                "c69a7735b3bcc140"
            ],
            [],
            [],
            [],
            [],
            [
                "38ef481002b48407"
            ],
            [
                "835bce9386f19fc7"
            ]
        ]
    },
    {
        "id": "15a7d709a5b4456c",
        "type": "ui_chart",
        "z": "6a163fc1071c16f5",
        "name": "",
        "group": "297f87ae35596935",
        "order": 22,
        "width": 18,
        "height": 5,
        "label": "Steam Reformer",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "30",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1780,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "11c3d4e5e8d7f5bf",
        "type": "ui_chart",
        "z": "6a163fc1071c16f5",
        "name": "",
        "group": "c6375cf50c3cb618",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Pressure Chart",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1780,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "34977b5f0c3a9637",
        "type": "ui_chart",
        "z": "6a163fc1071c16f5",
        "name": "",
        "group": "297f87ae35596935",
        "order": 23,
        "width": 18,
        "height": 5,
        "label": "RAD",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "30",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1750,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "5a47d3f9ce3f05c5",
        "type": "function",
        "z": "6a163fc1071c16f5",
        "name": "",
        "func": "var msg_lst = []\n\nfor (var key of Object.keys(msg.payload)) {\n    var temp = {}\n    temp.topic = key\n    temp.payload = msg.payload[key]\n    msg_lst.push(temp)\n}\n\nreturn msg_lst;\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 2380,
        "wires": [
            [
                "0b37b48584d25eda"
            ],
            [
                "0b37b48584d25eda"
            ]
        ]
    },
    {
        "id": "0b37b48584d25eda",
        "type": "ui_chart",
        "z": "6a163fc1071c16f5",
        "name": "",
        "group": "62c1eaa282dd444b",
        "order": 8,
        "width": 12,
        "height": 6,
        "label": "DFM",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 570,
        "y": 2380,
        "wires": [
            []
        ]
    },
    {
        "id": "f6efe367ca434366",
        "type": "debug",
        "z": "6a163fc1071c16f5",
        "name": "Batch",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1410,
        "y": 160,
        "wires": []
    },
    {
        "id": "c2c2ed170de59b86",
        "type": "join",
        "z": "6a163fc1071c16f5",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "10",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 1100,
        "y": 120,
        "wires": [
            [
                "593d22a449df6429"
            ]
        ]
    },
    {
        "id": "649fad890e7da93e",
        "type": "ui_table",
        "z": "6a163fc1071c16f5",
        "group": "297f87ae35596935",
        "name": "Sum Table",
        "order": 21,
        "width": 10,
        "height": "16",
        "columns": [
            {
                "field": "topic",
                "title": "Topic",
                "width": "40px",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "value",
                "title": "Value",
                "width": "60px",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 0,
        "cts": false,
        "x": 1430,
        "y": 120,
        "wires": []
    },
    {
        "id": "593d22a449df6429",
        "type": "function",
        "z": "6a163fc1071c16f5",
        "name": "",
        "func": "var msg_lst = []\n\nfor (var key of Object.keys(msg.payload)) {\n    var temp = {}\n    temp.topic = key\n    temp.value = msg.payload[key]\n    msg_lst.push(temp)\n}\n\nmsg.payload = msg_lst\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1260,
        "y": 120,
        "wires": [
            [
                "649fad890e7da93e",
                "f6efe367ca434366"
            ]
        ]
    },
    {
        "id": "a7922f99f956f0c4",
        "type": "ui_gauge",
        "z": "6a163fc1071c16f5",
        "name": "",
        "group": "297f87ae35596935",
        "order": 4,
        "width": 5,
        "height": 4,
        "gtype": "gage",
        "title": "TC11 gauge",
        "label": "oC",
        "format": "{{value}}",
        "min": 0,
        "max": "500",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1770,
        "y": 260,
        "wires": []
    },
    {
        "id": "a3962241f81d0c5b",
        "type": "ui_gauge",
        "z": "6a163fc1071c16f5",
        "name": "",
        "group": "297f87ae35596935",
        "order": 6,
        "width": 5,
        "height": 4,
        "gtype": "gage",
        "title": "Header Burner PV gauge",
        "label": "oC",
        "format": "{{value}}",
        "min": 0,
        "max": "500",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1810,
        "y": 420,
        "wires": []
    },
    {
        "id": "43de2e96301ffb92",
        "type": "mqtt in",
        "z": "6a163fc1071c16f5",
        "name": "",
        "topic": "nodered_port",
        "qos": "0",
        "datatype": "auto",
        "broker": "f8aea8534f5e2a70",
        "nl": false,
        "rap": false,
        "x": 370,
        "y": 1540,
        "wires": [
            [
                "d3217d28c56d21e2"
            ]
        ]
    },
    {
        "id": "d3217d28c56d21e2",
        "type": "debug",
        "z": "6a163fc1071c16f5",
        "name": "nodered_port",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 610,
        "y": 1540,
        "wires": []
    },
    {
        "id": "ef788a8ce91867ba",
        "type": "mqtt out",
        "z": "6a163fc1071c16f5",
        "name": "",
        "topic": "nodered_port",
        "qos": "0",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f8aea8534f5e2a70",
        "x": 1840,
        "y": 1100,
        "wires": []
    },
    {
        "id": "f4755f08871ae611",
        "type": "ui_form",
        "z": "6a163fc1071c16f5",
        "name": "",
        "label": "Manual Input",
        "group": "f7b9b84f65a2452b",
        "order": 1,
        "width": 15,
        "height": 1,
        "options": [
            {
                "label": "Header_EVA_SV (>=0 oC)",
                "value": "Header_EVA_SV",
                "type": "number",
                "required": false,
                "rows": null
            },
            {
                "label": "Header_BR_SV (>=0 oC)",
                "value": "Header_BR_SV",
                "type": "number",
                "required": false,
                "rows": null
            },
            {
                "label": "PCB_SET_SV (0-100%)",
                "value": "PCB_SET_SV",
                "type": "number",
                "required": false,
                "rows": null
            },
            {
                "label": "Pump_SET_SV (0-120 cc/min)",
                "value": "Pump_SET_SV",
                "type": "number",
                "required": false,
                "rows": null
            },
            {
                "label": "Air_MFC_SET_SV (0-250 LPM)",
                "value": "Air_MFC_SET_SV",
                "type": "number",
                "required": false,
                "rows": null
            },
            {
                "label": "H2_MFC_SET_SV (0-100 LPM)",
                "value": "H2_MFC_SET_SV",
                "type": "number",
                "required": false,
                "rows": null
            }
        ],
        "formValue": {
            "Header_EVA_SV": "",
            "Header_BR_SV": "",
            "PCB_SET_SV": "",
            "Pump_SET_SV": "",
            "Air_MFC_SET_SV": "",
            "H2_MFC_SET_SV": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": false,
        "x": 130,
        "y": 1220,
        "wires": [
            [
                "3ff900278a33d6b7",
                "475359a0de6904e8"
            ]
        ]
    },
    {
        "id": "475359a0de6904e8",
        "type": "debug",
        "z": "6a163fc1071c16f5",
        "name": "form",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 310,
        "y": 1160,
        "wires": []
    },
    {
        "id": "3ff900278a33d6b7",
        "type": "split",
        "z": "6a163fc1071c16f5",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "topic",
        "x": 310,
        "y": 1220,
        "wires": [
            [
                "a177f3bacc60e804",
                "9dbf1291fc9c4328"
            ]
        ]
    },
    {
        "id": "a177f3bacc60e804",
        "type": "switch",
        "z": "6a163fc1071c16f5",
        "name": "",
        "property": "parts.key",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Header_EVA_SV",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Header_BR_SV",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "PCB_SET_SV",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Pump_SET_SV",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Air_MFC_SET_SV",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "H2_MFC_SET_SV",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 6,
        "x": 490,
        "y": 1220,
        "wires": [
            [
                "460512c62477d1e1"
            ],
            [
                "f95e064d3d8a474d"
            ],
            [
                "ae50757a30060246"
            ],
            [
                "be01333e4fa9c7e9"
            ],
            [
                "88479194867b89a1"
            ],
            [
                "7ee206bf496f7082"
            ]
        ]
    },
    {
        "id": "f95e064d3d8a474d",
        "type": "switch",
        "z": "6a163fc1071c16f5",
        "name": "Header_BR cond",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "gte",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "lt",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "x": 770,
        "y": 1080,
        "wires": [
            [
                "f478001253b9e364"
            ],
            [
                "b045d8a4fb42f88c"
            ],
            [
                "92223f692f35cb26"
            ]
        ]
    },
    {
        "id": "b045d8a4fb42f88c",
        "type": "join",
        "z": "6a163fc1071c16f5",
        "name": "",
        "mode": "auto",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": "false",
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "x": 1570,
        "y": 1040,
        "wires": [
            [
                "3d0f0b5b96510e68",
                "ef788a8ce91867ba",
                "70ee42846ce043a7"
            ]
        ]
    },
    {
        "id": "4416800f3beae6da",
        "type": "change",
        "z": "6a163fc1071c16f5",
        "name": "Set Null to 2047",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "2047",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1240,
        "y": 1320,
        "wires": [
            [
                "b045d8a4fb42f88c"
            ]
        ]
    },
    {
        "id": "ae50757a30060246",
        "type": "switch",
        "z": "6a163fc1071c16f5",
        "name": "PCB",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "btwn",
                "v": "0",
                "vt": "num",
                "v2": "100",
                "v2t": "num"
            },
            {
                "t": "lt",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "gt",
                "v": "100",
                "vt": "num"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 4,
        "x": 730,
        "y": 1140,
        "wires": [
            [
                "4416800f3beae6da"
            ],
            [
                "564a3aa3b59d41a3"
            ],
            [
                "92223f692f35cb26"
            ],
            [
                "92223f692f35cb26"
            ]
        ]
    },
    {
        "id": "be01333e4fa9c7e9",
        "type": "switch",
        "z": "6a163fc1071c16f5",
        "name": "KNF Pump Cond",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "btwn",
                "v": "0",
                "vt": "num",
                "v2": "120",
                "v2t": "num"
            },
            {
                "t": "lt",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "gt",
                "v": "120",
                "vt": "num"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 4,
        "x": 770,
        "y": 1220,
        "wires": [
            [
                "4416800f3beae6da"
            ],
            [
                "2f938aeb84435b33"
            ],
            [
                "92223f692f35cb26"
            ],
            [
                "92223f692f35cb26"
            ]
        ]
    },
    {
        "id": "88479194867b89a1",
        "type": "switch",
        "z": "6a163fc1071c16f5",
        "name": "250-MFC Cond",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "btwn",
                "v": "0",
                "vt": "num",
                "v2": "250",
                "v2t": "num"
            },
            {
                "t": "lt",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "gt",
                "v": "250",
                "vt": "num"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 4,
        "x": 760,
        "y": 1300,
        "wires": [
            [
                "4416800f3beae6da"
            ],
            [
                "4d52bd1b43995d39"
            ],
            [
                "92223f692f35cb26"
            ],
            [
                "92223f692f35cb26"
            ]
        ]
    },
    {
        "id": "7ee206bf496f7082",
        "type": "switch",
        "z": "6a163fc1071c16f5",
        "name": "100-MFC Cond",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "btwn",
                "v": "0",
                "vt": "num",
                "v2": "100",
                "v2t": "num"
            },
            {
                "t": "lt",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "gt",
                "v": "100",
                "vt": "num"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 4,
        "x": 760,
        "y": 1380,
        "wires": [
            [
                "4416800f3beae6da"
            ],
            [
                "a0f629a7e62c370d"
            ],
            [
                "92223f692f35cb26"
            ],
            [
                "92223f692f35cb26"
            ]
        ]
    },
    {
        "id": "3d0f0b5b96510e68",
        "type": "debug",
        "z": "6a163fc1071c16f5",
        "name": "MQTT pub",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1830,
        "y": 1160,
        "wires": []
    },
    {
        "id": "9dbf1291fc9c4328",
        "type": "debug",
        "z": "6a163fc1071c16f5",
        "name": "split set",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 1340,
        "wires": []
    },
    {
        "id": "92223f692f35cb26",
        "type": "ui_toast",
        "z": "6a163fc1071c16f5",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "Again",
        "cancel": "",
        "raw": false,
        "topic": "",
        "name": "Wrong Set",
        "x": 1230,
        "y": 1360,
        "wires": [
            []
        ]
    },
    {
        "id": "0dda530d9d6c902d",
        "type": "ui_toast",
        "z": "6a163fc1071c16f5",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "MQTT pub",
        "name": "MQTT pub",
        "x": 2070,
        "y": 1040,
        "wires": []
    },
    {
        "id": "70ee42846ce043a7",
        "type": "change",
        "z": "6a163fc1071c16f5",
        "name": "Sending to RPi",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Sending to RPi",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1840,
        "y": 1040,
        "wires": [
            [
                "0dda530d9d6c902d"
            ]
        ]
    },
    {
        "id": "460512c62477d1e1",
        "type": "switch",
        "z": "6a163fc1071c16f5",
        "name": "Header_EVA cond",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "gte",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "lt",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "x": 770,
        "y": 1020,
        "wires": [
            [
                "f478001253b9e364"
            ],
            [
                "b045d8a4fb42f88c"
            ],
            [
                "92223f692f35cb26"
            ]
        ]
    },
    {
        "id": "c78c008f96fe6c10",
        "type": "ui_chart",
        "z": "6a163fc1071c16f5",
        "name": "",
        "group": "f7b9b84f65a2452b",
        "order": 4,
        "width": 6,
        "height": 6,
        "label": "Header_BR",
        "chartType": "bar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1770,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "a6b44c3b2be4e995",
        "type": "ui_chart",
        "z": "6a163fc1071c16f5",
        "name": "",
        "group": "f7b9b84f65a2452b",
        "order": 2,
        "width": 6,
        "height": 6,
        "label": "Header_EVA",
        "chartType": "bar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1770,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "f4a46745c1d41e44",
        "type": "ui_chart",
        "z": "6a163fc1071c16f5",
        "name": "",
        "group": "f7b9b84f65a2452b",
        "order": 30,
        "width": 6,
        "height": 6,
        "label": "Pump",
        "chartType": "bar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1750,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "292a88c840387444",
        "type": "ui_chart",
        "z": "6a163fc1071c16f5",
        "name": "",
        "group": "f7b9b84f65a2452b",
        "order": 16,
        "width": 6,
        "height": 6,
        "label": "250 MFC",
        "chartType": "bar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1760,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "61dd863a9550e3d8",
        "type": "ui_chart",
        "z": "6a163fc1071c16f5",
        "name": "",
        "group": "f7b9b84f65a2452b",
        "order": 18,
        "width": 6,
        "height": 6,
        "label": "100 MFC",
        "chartType": "bar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1760,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "564a3aa3b59d41a3",
        "type": "range",
        "z": "6a163fc1071c16f5",
        "minin": "0",
        "maxin": "100",
        "minout": "2047",
        "maxout": "4095",
        "action": "clamp",
        "round": false,
        "property": "payload",
        "name": "0-100% to 0-10V (12bits)",
        "x": 1270,
        "y": 1120,
        "wires": [
            [
                "b045d8a4fb42f88c"
            ]
        ]
    },
    {
        "id": "2f938aeb84435b33",
        "type": "range",
        "z": "6a163fc1071c16f5",
        "minin": "0",
        "maxin": "120",
        "minout": "2047",
        "maxout": "3071",
        "action": "clamp",
        "round": false,
        "property": "payload",
        "name": "0-120 to 0-5V (12bits)",
        "x": 1260,
        "y": 1160,
        "wires": [
            [
                "b045d8a4fb42f88c",
                "80e9841e153db037"
            ]
        ]
    },
    {
        "id": "4d52bd1b43995d39",
        "type": "range",
        "z": "6a163fc1071c16f5",
        "minin": "0",
        "maxin": "250",
        "minout": "2047",
        "maxout": "3071",
        "action": "clamp",
        "round": false,
        "property": "payload",
        "name": "0-250 to 0-5V (12bits)",
        "x": 1260,
        "y": 1200,
        "wires": [
            [
                "b045d8a4fb42f88c"
            ]
        ]
    },
    {
        "id": "a0f629a7e62c370d",
        "type": "range",
        "z": "6a163fc1071c16f5",
        "minin": "0",
        "maxin": "100",
        "minout": "2047",
        "maxout": "3071",
        "action": "clamp",
        "round": false,
        "property": "payload",
        "name": "0-100 to 0-5V (12bits)",
        "x": 1260,
        "y": 1240,
        "wires": [
            [
                "b045d8a4fb42f88c"
            ]
        ]
    },
    {
        "id": "80e9841e153db037",
        "type": "debug",
        "z": "6a163fc1071c16f5",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1550,
        "y": 1160,
        "wires": []
    },
    {
        "id": "f365221255015580",
        "type": "ui_gauge",
        "z": "6a163fc1071c16f5",
        "name": "",
        "group": "f7b9b84f65a2452b",
        "order": 32,
        "width": 6,
        "height": 6,
        "gtype": "gage",
        "title": "PCB gauge",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1770,
        "y": 540,
        "wires": []
    },
    {
        "id": "576a1e385a0de230",
        "type": "range",
        "z": "6a163fc1071c16f5",
        "minin": "0",
        "maxin": "10",
        "minout": "0",
        "maxout": "100",
        "action": "clamp",
        "round": true,
        "property": "payload",
        "name": "0-10V to 0-100%",
        "x": 1430,
        "y": 500,
        "wires": [
            [
                "f365221255015580"
            ]
        ]
    },
    {
        "id": "cb9df7afd13d2a46",
        "type": "range",
        "z": "6a163fc1071c16f5",
        "minin": "39320.7",
        "maxin": "65535",
        "minout": "0",
        "maxout": "10",
        "action": "clamp",
        "round": false,
        "property": "payload",
        "name": "1-5V to 0-10 (16bits)",
        "x": 1440,
        "y": 740,
        "wires": [
            [
                "11c3d4e5e8d7f5bf",
                "dcc9f8f8aac9c86e"
            ]
        ]
    },
    {
        "id": "38ef481002b48407",
        "type": "range",
        "z": "6a163fc1071c16f5",
        "minin": "32767",
        "maxin": "65535",
        "minout": "0",
        "maxout": "250",
        "action": "clamp",
        "round": false,
        "property": "payload",
        "name": "0-5V to 0-250 (16bits)",
        "x": 1440,
        "y": 780,
        "wires": [
            [
                "292a88c840387444"
            ]
        ]
    },
    {
        "id": "835bce9386f19fc7",
        "type": "range",
        "z": "6a163fc1071c16f5",
        "minin": "32767",
        "maxin": "65535",
        "minout": "0",
        "maxout": "100",
        "action": "clamp",
        "round": false,
        "property": "payload",
        "name": "0-5V to 0-100 (16bits)",
        "x": 1440,
        "y": 820,
        "wires": [
            [
                "61dd863a9550e3d8"
            ]
        ]
    },
    {
        "id": "c82840fd68181f98",
        "type": "range",
        "z": "6a163fc1071c16f5",
        "minin": "32767",
        "maxin": "39320.6",
        "minout": "-1",
        "maxout": "0",
        "action": "clamp",
        "round": false,
        "property": "payload",
        "name": "0-1V to -1-0 (16bits)",
        "x": 1440,
        "y": 700,
        "wires": [
            [
                "11c3d4e5e8d7f5bf",
                "749963fc2563a527"
            ]
        ]
    },
    {
        "id": "fdb28dab225e3cb3",
        "type": "range",
        "z": "6a163fc1071c16f5",
        "minin": "0",
        "maxin": "65535",
        "minout": "0",
        "maxout": "5",
        "action": "scale",
        "round": false,
        "property": "payload",
        "name": "4-20mA to 0-5 (16bits)",
        "x": 1440,
        "y": 660,
        "wires": [
            [
                "11c3d4e5e8d7f5bf"
            ]
        ]
    },
    {
        "id": "f478001253b9e364",
        "type": "change",
        "z": "6a163fc1071c16f5",
        "name": "Set null to 0",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1230,
        "y": 1280,
        "wires": [
            []
        ]
    },
    {
        "id": "fcb363cc5ca4e7fe",
        "type": "range",
        "z": "6a163fc1071c16f5",
        "minin": "0",
        "maxin": "5",
        "minout": "0",
        "maxout": "120",
        "action": "clamp",
        "round": false,
        "property": "payload",
        "name": "0-5V to 0-120",
        "x": 1420,
        "y": 540,
        "wires": [
            [
                "f4a46745c1d41e44"
            ]
        ]
    },
    {
        "id": "60309770f42b06e6",
        "type": "range",
        "z": "6a163fc1071c16f5",
        "minin": "0",
        "maxin": "5",
        "minout": "0",
        "maxout": "250",
        "action": "clamp",
        "round": false,
        "property": "payload",
        "name": "0-5V to 0-250",
        "x": 1420,
        "y": 580,
        "wires": [
            [
                "292a88c840387444"
            ]
        ]
    },
    {
        "id": "399fa0946ba866d2",
        "type": "range",
        "z": "6a163fc1071c16f5",
        "minin": "0",
        "maxin": "5",
        "minout": "0",
        "maxout": "100",
        "action": "clamp",
        "round": false,
        "property": "payload",
        "name": "0-5V to 0-100",
        "x": 1420,
        "y": 620,
        "wires": [
            [
                "61dd863a9550e3d8"
            ]
        ]
    },
    {
        "id": "bc3953e02482fe0f",
        "type": "switch",
        "z": "6a163fc1071c16f5",
        "name": "0-1-5V",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "btwn",
                "v": "32767",
                "vt": "num",
                "v2": "39320.6",
                "v2t": "num"
            },
            {
                "t": "btwn",
                "v": "39320.7",
                "vt": "num",
                "v2": "65535",
                "v2t": "num"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 1130,
        "y": 700,
        "wires": [
            [
                "c82840fd68181f98",
                "24525e7930527e12"
            ],
            [
                "cb9df7afd13d2a46",
                "ee61612aff8b4154"
            ]
        ]
    },
    {
        "id": "c69a7735b3bcc140",
        "type": "debug",
        "z": "6a163fc1071c16f5",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 620,
        "y": 800,
        "wires": []
    },
    {
        "id": "24525e7930527e12",
        "type": "debug",
        "z": "6a163fc1071c16f5",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1160,
        "y": 860,
        "wires": []
    },
    {
        "id": "ee61612aff8b4154",
        "type": "debug",
        "z": "6a163fc1071c16f5",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1320,
        "y": 940,
        "wires": []
    },
    {
        "id": "749963fc2563a527",
        "type": "debug",
        "z": "6a163fc1071c16f5",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1540,
        "y": 880,
        "wires": []
    },
    {
        "id": "dcc9f8f8aac9c86e",
        "type": "debug",
        "z": "6a163fc1071c16f5",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1610,
        "y": 940,
        "wires": []
    },
    {
        "id": "f8aea8534f5e2a70",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "RPi",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "297f87ae35596935",
        "type": "ui_group",
        "name": "Dashboard",
        "tab": "e427e8a2.33a718",
        "order": 4,
        "disp": true,
        "width": 28,
        "collapse": false
    },
    {
        "id": "62c1eaa282dd444b",
        "type": "ui_group",
        "name": "Chart",
        "tab": "662b1e41ad4ec8e6",
        "order": 3,
        "disp": true,
        "width": 24,
        "collapse": false
    },
    {
        "id": "c6375cf50c3cb618",
        "type": "ui_group",
        "name": "Dashboard",
        "tab": "81827930559ca1a3",
        "order": 3,
        "disp": true,
        "width": 28,
        "collapse": false
    },
    {
        "id": "f7b9b84f65a2452b",
        "type": "ui_group",
        "name": "Dashboard",
        "tab": "3a0b2c699094b623",
        "order": 1,
        "disp": true,
        "width": 28,
        "collapse": false
    },
    {
        "id": "e427e8a2.33a718",
        "type": "ui_tab",
        "name": "TC",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "662b1e41ad4ec8e6",
        "type": "ui_tab",
        "name": "Gas Production",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "81827930559ca1a3",
        "type": "ui_tab",
        "name": "Pressure Board",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "3a0b2c699094b623",
        "type": "ui_tab",
        "name": "Setting",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]