NodeRed_sandbox/flow.json
[
    {
        "id": "6a163fc1071c16f5",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "76e63fa4b2b9d426",
        "type": "mqtt in",
        "z": "6a163fc1071c16f5",
        "name": "",
        "topic": "RS485_port",
        "qos": "0",
        "datatype": "json",
        "broker": "f8aea8534f5e2a70",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 110,
        "y": 440,
        "wires": [
            [
                "26598d507b65c360",
                "0a43f1f397c8d9ba",
                "f29275b3082bb213"
            ]
        ]
    },
    {
        "id": "26598d507b65c360",
        "type": "debug",
        "z": "6a163fc1071c16f5",
        "name": "RS485_port",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 330,
        "y": 380,
        "wires": []
    },
    {
        "id": "1207a6742d9a9ee0",
        "type": "mqtt in",
        "z": "6a163fc1071c16f5",
        "name": "",
        "topic": "Scale_port",
        "qos": "0",
        "datatype": "json",
        "broker": "f8aea8534f5e2a70",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 120,
        "y": 2140,
        "wires": [
            [
                "5f2c53389abeb403",
                "f1fdd1aafee45046",
                "ae7b6be64ad8900c"
            ]
        ]
    },
    {
        "id": "5f2c53389abeb403",
        "type": "debug",
        "z": "6a163fc1071c16f5",
        "name": "Scale_port",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 350,
        "y": 2100,
        "wires": []
    },
    {
        "id": "28c5d13298b4c2da",
        "type": "mqtt in",
        "z": "6a163fc1071c16f5",
        "name": "",
        "topic": "RS232_port",
        "qos": "0",
        "datatype": "json",
        "broker": "f8aea8534f5e2a70",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 130,
        "y": 2380,
        "wires": [
            [
                "43be0c8349e75c46",
                "79075ac6fe1986ba",
                "d8e21f159bc5088f"
            ]
        ]
    },
    {
        "id": "43be0c8349e75c46",
        "type": "debug",
        "z": "6a163fc1071c16f5",
        "name": "RS232_port",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 350,
        "y": 2320,
        "wires": []
    },
    {
        "id": "95de06d4c940c1f5",
        "type": "mqtt in",
        "z": "6a163fc1071c16f5",
        "name": "",
        "topic": "Setup_port",
        "qos": "0",
        "datatype": "json",
        "broker": "f8aea8534f5e2a70",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 100,
        "y": 780,
        "wires": [
            [
                "5a44929e0bc16d26",
                "995a0561893097a7",
                "3fbee3da15cbb852"
            ]
        ]
    },
    {
        "id": "5a44929e0bc16d26",
        "type": "debug",
        "z": "6a163fc1071c16f5",
        "name": "Setup_port",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 330,
        "y": 720,
        "wires": []
    },
    {
        "id": "44570ad091103cf5",
        "type": "mqtt in",
        "z": "6a163fc1071c16f5",
        "name": "",
        "topic": "GPIO_port",
        "qos": "0",
        "datatype": "json",
        "broker": "f8aea8534f5e2a70",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 120,
        "y": 2660,
        "wires": [
            [
                "8c91be5f3b4385b8",
                "5a47d3f9ce3f05c5",
                "a6e7d1c0b888d6d8"
            ]
        ]
    },
    {
        "id": "8c91be5f3b4385b8",
        "type": "debug",
        "z": "6a163fc1071c16f5",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 330,
        "y": 2600,
        "wires": []
    },
    {
        "id": "f1fdd1aafee45046",
        "type": "function",
        "z": "6a163fc1071c16f5",
        "name": "",
        "func": "var msg_lst = []\n\nfor (var key of Object.keys(msg.payload)) {\n    var temp = {}\n    temp.topic = key\n    temp.payload = msg.payload[key]\n    msg_lst.push(temp)\n}\n\nreturn msg_lst;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 2180,
        "wires": [
            [
                "a71e4673f1e889a4",
                "84870f91da3b195e"
            ]
        ]
    },
    {
        "id": "0a43f1f397c8d9ba",
        "type": "function",
        "z": "6a163fc1071c16f5",
        "name": "",
        "func": "var msg_lst = []\n\nfor (var key of Object.keys(msg.payload)) {\n    var temp = {}\n    temp.topic = key\n    temp.payload = msg.payload[key]\n    msg_lst.push(temp)\n}\n\nreturn msg_lst;\n",
        "outputs": 8,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 520,
        "wires": [
            [
                "3190e9946ec35f0a",
                "c2c2ed170de59b86",
                "203d37f9ddb4802e",
                "50c986e369021ea9",
                "889848a66b05c462",
                "602c8120e9c2570c"
            ],
            [
                "3190e9946ec35f0a",
                "c2c2ed170de59b86",
                "203d37f9ddb4802e",
                "50c986e369021ea9",
                "ccceb26666efdecc",
                "aef9e7d008a35a04"
            ],
            [
                "3190e9946ec35f0a",
                "c2c2ed170de59b86",
                "203d37f9ddb4802e",
                "50c986e369021ea9"
            ],
            [
                "e0d59c8ad25b6e98",
                "c2c2ed170de59b86",
                "15a7d709a5b4456c",
                "203d37f9ddb4802e",
                "50c986e369021ea9",
                "4ed8eb208c82bf28"
            ],
            [
                "15a7d709a5b4456c",
                "c2c2ed170de59b86",
                "a7922f99f956f0c4"
            ],
            [
                "15a7d709a5b4456c",
                "c2c2ed170de59b86",
                "203d37f9ddb4802e"
            ],
            [
                "34977b5f0c3a9637",
                "c2c2ed170de59b86",
                "203d37f9ddb4802e"
            ],
            [
                "34977b5f0c3a9637",
                "c2c2ed170de59b86",
                "203d37f9ddb4802e"
            ]
        ]
    },
    {
        "id": "3190e9946ec35f0a",
        "type": "ui_chart",
        "z": "6a163fc1071c16f5",
        "name": "",
        "group": "297f87ae35596935",
        "order": 20,
        "width": 18,
        "height": 5,
        "label": "Burner",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "30",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1730,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "a71e4673f1e889a4",
        "type": "debug",
        "z": "6a163fc1071c16f5",
        "name": "Scale",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 550,
        "y": 2100,
        "wires": []
    },
    {
        "id": "e0d59c8ad25b6e98",
        "type": "ui_gauge",
        "z": "6a163fc1071c16f5",
        "name": "",
        "group": "297f87ae35596935",
        "order": 2,
        "width": 5,
        "height": 4,
        "gtype": "gage",
        "title": "TC10 Gauge",
        "label": "oC",
        "format": "{{value}}",
        "min": 0,
        "max": "500",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1750,
        "y": 560,
        "wires": []
    },
    {
        "id": "79075ac6fe1986ba",
        "type": "function",
        "z": "6a163fc1071c16f5",
        "name": "",
        "func": "var msg_lst = []\n\nfor (var key of Object.keys(msg.payload)) {\n    var temp = {}\n    temp.topic = key\n    temp.payload = msg.payload[key]\n    msg_lst.push(temp)\n}\n\nreturn msg_lst;\n",
        "outputs": 6,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 2440,
        "wires": [
            [
                "6c057fe95fe9a256",
                "929dd54f826020b2",
                "72da778604f3d743"
            ],
            [
                "6c057fe95fe9a256"
            ],
            [
                "6c057fe95fe9a256"
            ],
            [
                "6c057fe95fe9a256"
            ],
            [
                "6c057fe95fe9a256"
            ],
            []
        ]
    },
    {
        "id": "6c057fe95fe9a256",
        "type": "ui_chart",
        "z": "6a163fc1071c16f5",
        "name": "",
        "group": "62c1eaa282dd444b",
        "order": 4,
        "width": 12,
        "height": 10,
        "label": "Gas Comp",
        "chartType": "horizontalBar",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "10",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 570,
        "y": 2400,
        "wires": [
            []
        ]
    },
    {
        "id": "929dd54f826020b2",
        "type": "ui_gauge",
        "z": "6a163fc1071c16f5",
        "name": "",
        "group": "62c1eaa282dd444b",
        "order": 1,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "CO gauge",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "5",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 770,
        "y": 2320,
        "wires": []
    },
    {
        "id": "72da778604f3d743",
        "type": "debug",
        "z": "6a163fc1071c16f5",
        "name": "CO",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 550,
        "y": 2320,
        "wires": []
    },
    {
        "id": "995a0561893097a7",
        "type": "function",
        "z": "6a163fc1071c16f5",
        "name": "",
        "func": "var msg_lst = []\n\nfor (var key of Object.keys(msg.payload)) {\n    var temp = {}\n    temp.topic = key\n    temp.payload = msg.payload[key]\n    msg_lst.push(temp)\n}\n\nreturn msg_lst;\n",
        "outputs": 16,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 900,
        "wires": [
            [
                "15a7d709a5b4456c",
                "c2c2ed170de59b86",
                "a6b44c3b2be4e995",
                "203d37f9ddb4802e",
                "50c986e369021ea9"
            ],
            [
                "3190e9946ec35f0a",
                "a3962241f81d0c5b",
                "c2c2ed170de59b86",
                "c78c008f96fe6c10"
            ],
            [
                "576a1e385a0de230"
            ],
            [
                "fcb363cc5ca4e7fe",
                "166592f22dd4b1cb",
                "59200a106ffb6547"
            ],
            [
                "60309770f42b06e6"
            ],
            [
                "399fa0946ba866d2"
            ],
            [
                "fdb28dab225e3cb3",
                "30bc6a8dd67cefb1"
            ],
            [
                "bc3953e02482fe0f"
            ],
            [],
            [],
            [],
            [
                "9a1084381ac0e690"
            ],
            [
                "38ef481002b48407"
            ],
            [
                "835bce9386f19fc7"
            ],
            [
                "a6b44c3b2be4e995"
            ],
            [
                "c78c008f96fe6c10"
            ]
        ]
    },
    {
        "id": "15a7d709a5b4456c",
        "type": "ui_chart",
        "z": "6a163fc1071c16f5",
        "name": "",
        "group": "297f87ae35596935",
        "order": 22,
        "width": 18,
        "height": 5,
        "label": "Steam Reformer",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "30",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1760,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "11c3d4e5e8d7f5bf",
        "type": "ui_chart",
        "z": "6a163fc1071c16f5",
        "name": "",
        "group": "c6375cf50c3cb618",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Pressure Chart",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1760,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "34977b5f0c3a9637",
        "type": "ui_chart",
        "z": "6a163fc1071c16f5",
        "name": "",
        "group": "297f87ae35596935",
        "order": 23,
        "width": 18,
        "height": 5,
        "label": "RAD",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "30",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1730,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "5a47d3f9ce3f05c5",
        "type": "function",
        "z": "6a163fc1071c16f5",
        "name": "",
        "func": "var msg_lst = []\n\nfor (var key of Object.keys(msg.payload)) {\n    var temp = {}\n    temp.topic = key\n    temp.payload = msg.payload[key]\n    msg_lst.push(temp)\n}\n\nreturn msg_lst;\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 2720,
        "wires": [
            [
                "0b37b48584d25eda"
            ],
            [
                "0b37b48584d25eda"
            ]
        ]
    },
    {
        "id": "0b37b48584d25eda",
        "type": "ui_chart",
        "z": "6a163fc1071c16f5",
        "name": "",
        "group": "62c1eaa282dd444b",
        "order": 8,
        "width": 12,
        "height": 6,
        "label": "DFM",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 550,
        "y": 2720,
        "wires": [
            []
        ]
    },
    {
        "id": "f6efe367ca434366",
        "type": "debug",
        "z": "6a163fc1071c16f5",
        "name": "Batch",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1290,
        "y": 400,
        "wires": []
    },
    {
        "id": "c2c2ed170de59b86",
        "type": "join",
        "z": "6a163fc1071c16f5",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "10",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 980,
        "y": 360,
        "wires": [
            [
                "593d22a449df6429"
            ]
        ]
    },
    {
        "id": "649fad890e7da93e",
        "type": "ui_table",
        "z": "6a163fc1071c16f5",
        "group": "297f87ae35596935",
        "name": "Sum Table",
        "order": 21,
        "width": 10,
        "height": 16,
        "columns": [
            {
                "field": "topic",
                "title": "Topic",
                "width": "40px",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "value",
                "title": "Value",
                "width": "60px",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 0,
        "cts": false,
        "x": 1310,
        "y": 360,
        "wires": []
    },
    {
        "id": "593d22a449df6429",
        "type": "function",
        "z": "6a163fc1071c16f5",
        "name": "",
        "func": "var msg_lst = []\n\nfor (var key of Object.keys(msg.payload)) {\n    var temp = {}\n    temp.topic = key\n    temp.value = msg.payload[key]\n    msg_lst.push(temp)\n}\n\nmsg.payload = msg_lst\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1140,
        "y": 360,
        "wires": [
            [
                "649fad890e7da93e",
                "f6efe367ca434366"
            ]
        ]
    },
    {
        "id": "a7922f99f956f0c4",
        "type": "ui_gauge",
        "z": "6a163fc1071c16f5",
        "name": "",
        "group": "297f87ae35596935",
        "order": 6,
        "width": 5,
        "height": 4,
        "gtype": "gage",
        "title": "TC11 gauge",
        "label": "oC",
        "format": "{{value}}",
        "min": 0,
        "max": "500",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1750,
        "y": 600,
        "wires": []
    },
    {
        "id": "a3962241f81d0c5b",
        "type": "ui_gauge",
        "z": "6a163fc1071c16f5",
        "name": "",
        "group": "297f87ae35596935",
        "order": 4,
        "width": 5,
        "height": 4,
        "gtype": "gage",
        "title": "Header Burner PV gauge",
        "label": "oC",
        "format": "{{value}}",
        "min": 0,
        "max": "500",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1790,
        "y": 760,
        "wires": []
    },
    {
        "id": "43de2e96301ffb92",
        "type": "mqtt in",
        "z": "6a163fc1071c16f5",
        "name": "",
        "topic": "nodered_port",
        "qos": "0",
        "datatype": "auto",
        "broker": "f8aea8534f5e2a70",
        "nl": false,
        "rap": false,
        "x": 350,
        "y": 1880,
        "wires": [
            [
                "d3217d28c56d21e2"
            ]
        ]
    },
    {
        "id": "d3217d28c56d21e2",
        "type": "debug",
        "z": "6a163fc1071c16f5",
        "name": "nodered_port",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 590,
        "y": 1880,
        "wires": []
    },
    {
        "id": "ef788a8ce91867ba",
        "type": "mqtt out",
        "z": "6a163fc1071c16f5",
        "name": "",
        "topic": "nodered_port",
        "qos": "0",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f8aea8534f5e2a70",
        "x": 1820,
        "y": 1440,
        "wires": []
    },
    {
        "id": "f4755f08871ae611",
        "type": "ui_form",
        "z": "6a163fc1071c16f5",
        "name": "",
        "label": "Manual_Input",
        "group": "f7b9b84f65a2452b",
        "order": 1,
        "width": 15,
        "height": 1,
        "options": [
            {
                "label": "Header_EVA_SV (>=0 oC)",
                "value": "Header_EVA_SV",
                "type": "number",
                "required": false,
                "rows": null
            },
            {
                "label": "Header_BR_SV (>=0 oC)",
                "value": "Header_BR_SV",
                "type": "number",
                "required": false,
                "rows": null
            },
            {
                "label": "PCB_SET_SV (0-100%)",
                "value": "PCB_SET_SV",
                "type": "number",
                "required": false,
                "rows": null
            },
            {
                "label": "Pump_SET_SV (0-120 cc/min)",
                "value": "Pump_SET_SV",
                "type": "number",
                "required": false,
                "rows": null
            },
            {
                "label": "Air_MFC_SET_SV (0-250 LPM)",
                "value": "Air_MFC_SET_SV",
                "type": "number",
                "required": false,
                "rows": null
            },
            {
                "label": "H2_MFC_SET_SV (0-100 LPM)",
                "value": "H2_MFC_SET_SV",
                "type": "number",
                "required": false,
                "rows": null
            }
        ],
        "formValue": {
            "Header_EVA_SV": "",
            "Header_BR_SV": "",
            "PCB_SET_SV": "",
            "Pump_SET_SV": "",
            "Air_MFC_SET_SV": "",
            "H2_MFC_SET_SV": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": false,
        "x": 120,
        "y": 1560,
        "wires": [
            [
                "3ff900278a33d6b7",
                "475359a0de6904e8",
                "cc12a6ad4edd086b"
            ]
        ]
    },
    {
        "id": "475359a0de6904e8",
        "type": "debug",
        "z": "6a163fc1071c16f5",
        "name": "form",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 290,
        "y": 1500,
        "wires": []
    },
    {
        "id": "3ff900278a33d6b7",
        "type": "split",
        "z": "6a163fc1071c16f5",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "topic",
        "x": 290,
        "y": 1560,
        "wires": [
            [
                "a177f3bacc60e804",
                "9dbf1291fc9c4328"
            ]
        ]
    },
    {
        "id": "a177f3bacc60e804",
        "type": "switch",
        "z": "6a163fc1071c16f5",
        "name": "",
        "property": "parts.key",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Header_EVA_SV",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Header_BR_SV",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "PCB_SET_SV",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Pump_SET_SV",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Air_MFC_SET_SV",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "H2_MFC_SET_SV",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 6,
        "x": 470,
        "y": 1560,
        "wires": [
            [
                "460512c62477d1e1"
            ],
            [
                "f95e064d3d8a474d"
            ],
            [
                "ae50757a30060246"
            ],
            [
                "be01333e4fa9c7e9"
            ],
            [
                "88479194867b89a1"
            ],
            [
                "7ee206bf496f7082"
            ]
        ]
    },
    {
        "id": "f95e064d3d8a474d",
        "type": "switch",
        "z": "6a163fc1071c16f5",
        "name": "Header_BR cond",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "gte",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "lt",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "x": 750,
        "y": 1420,
        "wires": [
            [
                "f478001253b9e364"
            ],
            [
                "b045d8a4fb42f88c"
            ],
            [
                "92223f692f35cb26"
            ]
        ]
    },
    {
        "id": "b045d8a4fb42f88c",
        "type": "join",
        "z": "6a163fc1071c16f5",
        "name": "",
        "mode": "auto",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": "false",
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "x": 1550,
        "y": 1380,
        "wires": [
            [
                "3d0f0b5b96510e68",
                "ef788a8ce91867ba",
                "70ee42846ce043a7"
            ]
        ]
    },
    {
        "id": "4416800f3beae6da",
        "type": "change",
        "z": "6a163fc1071c16f5",
        "name": "Set Null to 2047",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "2047",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1220,
        "y": 1700,
        "wires": [
            [
                "b045d8a4fb42f88c"
            ]
        ]
    },
    {
        "id": "ae50757a30060246",
        "type": "switch",
        "z": "6a163fc1071c16f5",
        "name": "PCB",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "btwn",
                "v": "0",
                "vt": "num",
                "v2": "100",
                "v2t": "num"
            },
            {
                "t": "lt",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "gt",
                "v": "100",
                "vt": "num"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 4,
        "x": 710,
        "y": 1480,
        "wires": [
            [
                "4416800f3beae6da"
            ],
            [
                "564a3aa3b59d41a3"
            ],
            [
                "92223f692f35cb26"
            ],
            [
                "92223f692f35cb26"
            ]
        ]
    },
    {
        "id": "be01333e4fa9c7e9",
        "type": "switch",
        "z": "6a163fc1071c16f5",
        "name": "KNF Pump Cond",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "btwn",
                "v": "0",
                "vt": "num",
                "v2": "120",
                "v2t": "num"
            },
            {
                "t": "lt",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "gt",
                "v": "120",
                "vt": "num"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 4,
        "x": 750,
        "y": 1560,
        "wires": [
            [
                "4416800f3beae6da"
            ],
            [
                "2f938aeb84435b33",
                "0fecc95a3b240d37"
            ],
            [
                "92223f692f35cb26"
            ],
            [
                "92223f692f35cb26"
            ]
        ]
    },
    {
        "id": "88479194867b89a1",
        "type": "switch",
        "z": "6a163fc1071c16f5",
        "name": "250-MFC Cond",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "btwn",
                "v": "0",
                "vt": "num",
                "v2": "250",
                "v2t": "num"
            },
            {
                "t": "lt",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "gt",
                "v": "250",
                "vt": "num"
            },
            {
                "t": "gt",
                "v": "200",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 740,
        "y": 1640,
        "wires": [
            [
                "4416800f3beae6da"
            ],
            [
                "4d52bd1b43995d39"
            ],
            [
                "92223f692f35cb26"
            ],
            [
                "92223f692f35cb26"
            ],
            [
                "252793267f40f674"
            ]
        ]
    },
    {
        "id": "7ee206bf496f7082",
        "type": "switch",
        "z": "6a163fc1071c16f5",
        "name": "100-MFC Cond",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "btwn",
                "v": "0",
                "vt": "num",
                "v2": "100",
                "v2t": "num"
            },
            {
                "t": "lt",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "gt",
                "v": "100",
                "vt": "num"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 4,
        "x": 740,
        "y": 1720,
        "wires": [
            [
                "4416800f3beae6da"
            ],
            [
                "a0f629a7e62c370d"
            ],
            [
                "92223f692f35cb26"
            ],
            [
                "92223f692f35cb26"
            ]
        ]
    },
    {
        "id": "3d0f0b5b96510e68",
        "type": "debug",
        "z": "6a163fc1071c16f5",
        "name": "MQTT pub",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1810,
        "y": 1500,
        "wires": []
    },
    {
        "id": "9dbf1291fc9c4328",
        "type": "debug",
        "z": "6a163fc1071c16f5",
        "name": "split set",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 430,
        "y": 1680,
        "wires": []
    },
    {
        "id": "92223f692f35cb26",
        "type": "ui_toast",
        "z": "6a163fc1071c16f5",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "Again",
        "cancel": "",
        "raw": false,
        "topic": "",
        "name": "Wrong Set",
        "x": 1210,
        "y": 1740,
        "wires": [
            []
        ]
    },
    {
        "id": "0dda530d9d6c902d",
        "type": "ui_toast",
        "z": "6a163fc1071c16f5",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "MQTT pub",
        "name": "MQTT pub",
        "x": 2050,
        "y": 1380,
        "wires": []
    },
    {
        "id": "70ee42846ce043a7",
        "type": "change",
        "z": "6a163fc1071c16f5",
        "name": "Sending to RPi",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Sending to RPi",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1820,
        "y": 1380,
        "wires": [
            [
                "0dda530d9d6c902d"
            ]
        ]
    },
    {
        "id": "460512c62477d1e1",
        "type": "switch",
        "z": "6a163fc1071c16f5",
        "name": "Header_EVA cond",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "gte",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "lt",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "x": 750,
        "y": 1360,
        "wires": [
            [
                "f478001253b9e364"
            ],
            [
                "b045d8a4fb42f88c"
            ],
            [
                "92223f692f35cb26"
            ]
        ]
    },
    {
        "id": "c78c008f96fe6c10",
        "type": "ui_chart",
        "z": "6a163fc1071c16f5",
        "name": "",
        "group": "f7b9b84f65a2452b",
        "order": 4,
        "width": 6,
        "height": 6,
        "label": "Header_BR",
        "chartType": "bar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1750,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "a6b44c3b2be4e995",
        "type": "ui_chart",
        "z": "6a163fc1071c16f5",
        "name": "",
        "group": "f7b9b84f65a2452b",
        "order": 2,
        "width": 6,
        "height": 6,
        "label": "Header_EVA",
        "chartType": "bar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1750,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "f4a46745c1d41e44",
        "type": "ui_chart",
        "z": "6a163fc1071c16f5",
        "name": "",
        "group": "f7b9b84f65a2452b",
        "order": 30,
        "width": 6,
        "height": 6,
        "label": "Pump",
        "chartType": "bar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "75",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1730,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "292a88c840387444",
        "type": "ui_chart",
        "z": "6a163fc1071c16f5",
        "name": "",
        "group": "f7b9b84f65a2452b",
        "order": 16,
        "width": 6,
        "height": 6,
        "label": "250 MFC",
        "chartType": "bar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "250",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1740,
        "y": 1080,
        "wires": [
            []
        ]
    },
    {
        "id": "61dd863a9550e3d8",
        "type": "ui_chart",
        "z": "6a163fc1071c16f5",
        "name": "",
        "group": "f7b9b84f65a2452b",
        "order": 18,
        "width": 6,
        "height": 6,
        "label": "100 MFC",
        "chartType": "bar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1740,
        "y": 1120,
        "wires": [
            []
        ]
    },
    {
        "id": "564a3aa3b59d41a3",
        "type": "range",
        "z": "6a163fc1071c16f5",
        "minin": "0",
        "maxin": "100",
        "minout": "2047",
        "maxout": "4095",
        "action": "clamp",
        "round": false,
        "property": "payload",
        "name": "0-100% to 0-10V (12bits)",
        "x": 1250,
        "y": 1460,
        "wires": [
            [
                "b045d8a4fb42f88c"
            ]
        ]
    },
    {
        "id": "2f938aeb84435b33",
        "type": "range",
        "z": "6a163fc1071c16f5",
        "d": true,
        "minin": "0",
        "maxin": "120",
        "minout": "2047",
        "maxout": "3071",
        "action": "clamp",
        "round": false,
        "property": "payload",
        "name": "0-120 to 0-5V (12bits)",
        "x": 1240,
        "y": 1500,
        "wires": [
            [
                "b045d8a4fb42f88c",
                "80e9841e153db037"
            ]
        ]
    },
    {
        "id": "4d52bd1b43995d39",
        "type": "range",
        "z": "6a163fc1071c16f5",
        "minin": "0",
        "maxin": "250",
        "minout": "2047",
        "maxout": "3071",
        "action": "clamp",
        "round": false,
        "property": "payload",
        "name": "0-250 to 0-5V (12bits)",
        "x": 1240,
        "y": 1580,
        "wires": [
            [
                "b045d8a4fb42f88c"
            ]
        ]
    },
    {
        "id": "a0f629a7e62c370d",
        "type": "range",
        "z": "6a163fc1071c16f5",
        "minin": "0",
        "maxin": "100",
        "minout": "2047",
        "maxout": "3071",
        "action": "clamp",
        "round": false,
        "property": "payload",
        "name": "0-100 to 0-5V (12bits)",
        "x": 1240,
        "y": 1620,
        "wires": [
            [
                "b045d8a4fb42f88c"
            ]
        ]
    },
    {
        "id": "80e9841e153db037",
        "type": "debug",
        "z": "6a163fc1071c16f5",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1630,
        "y": 1620,
        "wires": []
    },
    {
        "id": "f365221255015580",
        "type": "ui_gauge",
        "z": "6a163fc1071c16f5",
        "name": "",
        "group": "f7b9b84f65a2452b",
        "order": 32,
        "width": 6,
        "height": 6,
        "gtype": "gage",
        "title": "PCB gauge",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1750,
        "y": 880,
        "wires": []
    },
    {
        "id": "576a1e385a0de230",
        "type": "range",
        "z": "6a163fc1071c16f5",
        "minin": "0",
        "maxin": "10",
        "minout": "0",
        "maxout": "100",
        "action": "clamp",
        "round": true,
        "property": "payload",
        "name": "0-10V to 0-100%",
        "x": 1410,
        "y": 840,
        "wires": [
            [
                "f365221255015580"
            ]
        ]
    },
    {
        "id": "cb9df7afd13d2a46",
        "type": "range",
        "z": "6a163fc1071c16f5",
        "minin": "39320.7",
        "maxin": "65535",
        "minout": "0",
        "maxout": "10",
        "action": "clamp",
        "round": false,
        "property": "payload",
        "name": "1-5V to 0-10 (16bits)",
        "x": 1420,
        "y": 1120,
        "wires": [
            [
                "11c3d4e5e8d7f5bf",
                "dcc9f8f8aac9c86e"
            ]
        ]
    },
    {
        "id": "38ef481002b48407",
        "type": "range",
        "z": "6a163fc1071c16f5",
        "minin": "32767",
        "maxin": "65535",
        "minout": "0",
        "maxout": "250",
        "action": "clamp",
        "round": false,
        "property": "payload",
        "name": "0-5V to 0-250 (16bits)",
        "x": 1420,
        "y": 1200,
        "wires": [
            [
                "292a88c840387444",
                "5ef5eac2e2fd4ba5"
            ]
        ]
    },
    {
        "id": "835bce9386f19fc7",
        "type": "range",
        "z": "6a163fc1071c16f5",
        "minin": "32767",
        "maxin": "65535",
        "minout": "0",
        "maxout": "100",
        "action": "clamp",
        "round": false,
        "property": "payload",
        "name": "0-5V to 0-100 (16bits)",
        "x": 1420,
        "y": 1240,
        "wires": [
            [
                "61dd863a9550e3d8"
            ]
        ]
    },
    {
        "id": "c82840fd68181f98",
        "type": "range",
        "z": "6a163fc1071c16f5",
        "minin": "32767",
        "maxin": "39320.6",
        "minout": "-1",
        "maxout": "0",
        "action": "clamp",
        "round": false,
        "property": "payload",
        "name": "0-1V to -1-0 (16bits)",
        "x": 1420,
        "y": 1080,
        "wires": [
            [
                "11c3d4e5e8d7f5bf",
                "749963fc2563a527"
            ]
        ]
    },
    {
        "id": "fdb28dab225e3cb3",
        "type": "range",
        "z": "6a163fc1071c16f5",
        "minin": "0",
        "maxin": "65535",
        "minout": "0",
        "maxout": "5",
        "action": "clamp",
        "round": true,
        "property": "payload",
        "name": "4-20mA to 0-5 (16bits)",
        "x": 1420,
        "y": 1040,
        "wires": [
            [
                "11c3d4e5e8d7f5bf",
                "f9e2f39d6b39720d"
            ]
        ]
    },
    {
        "id": "f478001253b9e364",
        "type": "change",
        "z": "6a163fc1071c16f5",
        "name": "Set null to 0",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1210,
        "y": 1660,
        "wires": [
            [
                "b045d8a4fb42f88c"
            ]
        ]
    },
    {
        "id": "fcb363cc5ca4e7fe",
        "type": "range",
        "z": "6a163fc1071c16f5",
        "d": true,
        "minin": "0",
        "maxin": "5",
        "minout": "0",
        "maxout": "120",
        "action": "clamp",
        "round": false,
        "property": "payload",
        "name": "0-5V to 0-120",
        "x": 1400,
        "y": 880,
        "wires": [
            [
                "f4a46745c1d41e44"
            ]
        ]
    },
    {
        "id": "60309770f42b06e6",
        "type": "range",
        "z": "6a163fc1071c16f5",
        "minin": "0",
        "maxin": "5",
        "minout": "0",
        "maxout": "250",
        "action": "clamp",
        "round": false,
        "property": "payload",
        "name": "0-5V to 0-250",
        "x": 1400,
        "y": 960,
        "wires": [
            [
                "292a88c840387444"
            ]
        ]
    },
    {
        "id": "399fa0946ba866d2",
        "type": "range",
        "z": "6a163fc1071c16f5",
        "minin": "0",
        "maxin": "5",
        "minout": "0",
        "maxout": "100",
        "action": "clamp",
        "round": false,
        "property": "payload",
        "name": "0-5V to 0-100",
        "x": 1400,
        "y": 1000,
        "wires": [
            [
                "61dd863a9550e3d8"
            ]
        ]
    },
    {
        "id": "bc3953e02482fe0f",
        "type": "switch",
        "z": "6a163fc1071c16f5",
        "name": "0-1-5V",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "btwn",
                "v": "32767",
                "vt": "num",
                "v2": "39320.6",
                "v2t": "num"
            },
            {
                "t": "btwn",
                "v": "39320.7",
                "vt": "num",
                "v2": "65535",
                "v2t": "num"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 1210,
        "y": 1100,
        "wires": [
            [
                "c82840fd68181f98",
                "24525e7930527e12"
            ],
            [
                "cb9df7afd13d2a46",
                "ee61612aff8b4154"
            ]
        ]
    },
    {
        "id": "24525e7930527e12",
        "type": "debug",
        "z": "6a163fc1071c16f5",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1140,
        "y": 1200,
        "wires": []
    },
    {
        "id": "ee61612aff8b4154",
        "type": "debug",
        "z": "6a163fc1071c16f5",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1150,
        "y": 1260,
        "wires": []
    },
    {
        "id": "749963fc2563a527",
        "type": "debug",
        "z": "6a163fc1071c16f5",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1650,
        "y": 1240,
        "wires": []
    },
    {
        "id": "dcc9f8f8aac9c86e",
        "type": "debug",
        "z": "6a163fc1071c16f5",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1720,
        "y": 1300,
        "wires": []
    },
    {
        "id": "f29275b3082bb213",
        "type": "change",
        "z": "6a163fc1071c16f5",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "RS485_port",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "3fbee3da15cbb852",
        "type": "change",
        "z": "6a163fc1071c16f5",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Setup_port",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 1060,
        "wires": [
            []
        ]
    },
    {
        "id": "cc12a6ad4edd086b",
        "type": "change",
        "z": "6a163fc1071c16f5",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Manual_Input",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 1740,
        "wires": [
            []
        ]
    },
    {
        "id": "ae7b6be64ad8900c",
        "type": "change",
        "z": "6a163fc1071c16f5",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Scale_port",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 2240,
        "wires": [
            []
        ]
    },
    {
        "id": "d8e21f159bc5088f",
        "type": "change",
        "z": "6a163fc1071c16f5",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "RS232_port",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 2540,
        "wires": [
            []
        ]
    },
    {
        "id": "a6e7d1c0b888d6d8",
        "type": "change",
        "z": "6a163fc1071c16f5",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "GPIO_port",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 2800,
        "wires": [
            []
        ]
    },
    {
        "id": "7910a6c11fbfb0ff",
        "type": "inject",
        "z": "6a163fc1071c16f5",
        "d": true,
        "name": "Inject to nodered_DB",
        "props": [
            {
                "p": "RS485_port",
                "v": "RS485_port",
                "vt": "flow"
            },
            {
                "p": "Setup_port",
                "v": "Setup_port",
                "vt": "flow"
            },
            {
                "p": "RS232_port",
                "v": "RS232_port",
                "vt": "flow"
            },
            {
                "p": "Scale_port",
                "v": "Scale_port",
                "vt": "flow"
            },
            {
                "p": "GPIO_port",
                "v": "GPIO_port",
                "vt": "flow"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            },
            {
                "p": "Manual_Input",
                "v": "Manual_Input",
                "vt": "flow"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "DB",
        "payload": "0",
        "payloadType": "str",
        "x": 160,
        "y": 3040,
        "wires": [
            [
                "d1ccf059f81d502a"
            ]
        ]
    },
    {
        "id": "d1ccf059f81d502a",
        "type": "function",
        "z": "6a163fc1071c16f5",
        "name": "",
        "func": "var lst = [msg.Manual_Input, msg.Setup_port, msg.RS485_port, msg.Scale_port, msg.RS232_port, msg.GPIO_port]\nvar len = lst.length;\nmsg.lst = []\n\nfor (var i = 0; i < len; i++) {\n    for (var key in lst[i]) {\n        if (lst[i].hasOwnProperty(key)) {\n            msg.lst.push(lst[i][key])\n        }\n    }\n}\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 3040,
        "wires": [
            [
                "d7c406e4c5287214"
            ]
        ]
    },
    {
        "id": "d7c406e4c5287214",
        "type": "change",
        "z": "6a163fc1071c16f5",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "lst",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 3040,
        "wires": [
            [
                "d4ee87cade5a42b1",
                "5ce266eb2ad92c53"
            ]
        ]
    },
    {
        "id": "5ce266eb2ad92c53",
        "type": "debug",
        "z": "6a163fc1071c16f5",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 890,
        "y": 3100,
        "wires": []
    },
    {
        "id": "d4ee87cade5a42b1",
        "type": "GSheet",
        "z": "6a163fc1071c16f5",
        "creds": "700453c3.f1167c",
        "method": "append",
        "action": "",
        "sheet": "1lOTmshcxpiFN5gS1Imb9cQJEx7GGZsbWBz4XVL5EG4w",
        "cells": "Sheet1",
        "flatten": false,
        "name": "",
        "x": 910,
        "y": 3040,
        "wires": [
            [
                "5f79f98d048648fe"
            ]
        ]
    },
    {
        "id": "5f79f98d048648fe",
        "type": "debug",
        "z": "6a163fc1071c16f5",
        "name": "gsheet",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1110,
        "y": 2960,
        "wires": []
    },
    {
        "id": "30bc6a8dd67cefb1",
        "type": "debug",
        "z": "6a163fc1071c16f5",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 700,
        "y": 1180,
        "wires": []
    },
    {
        "id": "f9e2f39d6b39720d",
        "type": "debug",
        "z": "6a163fc1071c16f5",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 900,
        "y": 1180,
        "wires": []
    },
    {
        "id": "9a1084381ac0e690",
        "type": "range",
        "z": "6a163fc1071c16f5",
        "minin": "32767",
        "maxin": "65535",
        "minout": "0",
        "maxout": "5",
        "action": "clamp",
        "round": false,
        "property": "payload",
        "name": "0-5V to 0-5 (16bits)",
        "x": 1230,
        "y": 1160,
        "wires": [
            [
                "1151790b0d70da08"
            ]
        ]
    },
    {
        "id": "bcb294bc03d4898a",
        "type": "debug",
        "z": "6a163fc1071c16f5",
        "name": "Batch",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1290,
        "y": 320,
        "wires": []
    },
    {
        "id": "203d37f9ddb4802e",
        "type": "join",
        "z": "6a163fc1071c16f5",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "8",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 980,
        "y": 280,
        "wires": [
            [
                "31cac011f257a385",
                "bcb294bc03d4898a"
            ]
        ]
    },
    {
        "id": "fb9c7ce2b4cfb1ca",
        "type": "ui_table",
        "z": "6a163fc1071c16f5",
        "group": "4cb03dd4e1bf63fb",
        "name": "Sum Table",
        "order": 20,
        "width": 10,
        "height": 6,
        "columns": [
            {
                "field": "topic",
                "title": "Topic",
                "width": "40px",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "value",
                "title": "Value",
                "width": "60px",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 0,
        "cts": false,
        "x": 1310,
        "y": 280,
        "wires": []
    },
    {
        "id": "31cac011f257a385",
        "type": "function",
        "z": "6a163fc1071c16f5",
        "name": "",
        "func": "var msg_lst = []\n\nfor (var key of Object.keys(msg.payload)) {\n    var temp = {}\n    temp.topic = key\n    temp.value = msg.payload[key]\n    msg_lst.push(temp)\n}\n\nmsg.payload = msg_lst\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1140,
        "y": 280,
        "wires": [
            [
                "fb9c7ce2b4cfb1ca"
            ]
        ]
    },
    {
        "id": "50c986e369021ea9",
        "type": "ui_chart",
        "z": "6a163fc1071c16f5",
        "name": "",
        "group": "4cb03dd4e1bf63fb",
        "order": 17,
        "width": 20,
        "height": 12,
        "label": "TC_BW chart",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "120",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1760,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "1c197806b4075881",
        "type": "ui_gauge",
        "z": "6a163fc1071c16f5",
        "name": "",
        "group": "4cb03dd4e1bf63fb",
        "order": 8,
        "width": 7,
        "height": 6,
        "gtype": "gage",
        "title": "Lambda Sensor",
        "label": "volt",
        "format": "{{value}}",
        "min": 0,
        "max": "5",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "1",
        "seg2": "2",
        "x": 1760,
        "y": 1160,
        "wires": []
    },
    {
        "id": "0fecc95a3b240d37",
        "type": "function",
        "z": "6a163fc1071c16f5",
        "name": "",
        "func": "msg.payload = (msg.payload - 1.04) / 14.3\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1200,
        "y": 1540,
        "wires": [
            [
                "80e9841e153db037",
                "beb03bcf83992cea"
            ]
        ]
    },
    {
        "id": "166592f22dd4b1cb",
        "type": "function",
        "z": "6a163fc1071c16f5",
        "name": "",
        "func": "msg.payload = 14.3 * msg.payload + 1.04\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1380,
        "y": 920,
        "wires": [
            [
                "f4a46745c1d41e44",
                "c1c50fea4f888a54",
                "ee95899529d03d38"
            ]
        ]
    },
    {
        "id": "c1c50fea4f888a54",
        "type": "debug",
        "z": "6a163fc1071c16f5",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1990,
        "y": 940,
        "wires": []
    },
    {
        "id": "59200a106ffb6547",
        "type": "debug",
        "z": "6a163fc1071c16f5",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1990,
        "y": 1000,
        "wires": []
    },
    {
        "id": "ee95899529d03d38",
        "type": "ui_chart",
        "z": "6a163fc1071c16f5",
        "name": "",
        "group": "4cb03dd4e1bf63fb",
        "order": 18,
        "width": 5,
        "height": 6,
        "label": "Pump",
        "chartType": "bar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "12",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1730,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "5ef5eac2e2fd4ba5",
        "type": "ui_chart",
        "z": "6a163fc1071c16f5",
        "name": "",
        "group": "4cb03dd4e1bf63fb",
        "order": 19,
        "width": 5,
        "height": 6,
        "label": "250 MFC",
        "chartType": "bar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "200",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1740,
        "y": 1040,
        "wires": [
            []
        ]
    },
    {
        "id": "beb03bcf83992cea",
        "type": "range",
        "z": "6a163fc1071c16f5",
        "minin": "0",
        "maxin": "5",
        "minout": "2047",
        "maxout": "3071",
        "action": "clamp",
        "round": false,
        "property": "payload",
        "name": "",
        "x": 1350,
        "y": 1540,
        "wires": [
            [
                "b045d8a4fb42f88c"
            ]
        ]
    },
    {
        "id": "889848a66b05c462",
        "type": "ui_gauge",
        "z": "6a163fc1071c16f5",
        "name": "",
        "group": "4cb03dd4e1bf63fb",
        "order": 6,
        "width": 7,
        "height": 3,
        "gtype": "gage",
        "title": "BR outlet",
        "label": "oC",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "350",
        "seg2": "800",
        "x": 1740,
        "y": 440,
        "wires": []
    },
    {
        "id": "ccceb26666efdecc",
        "type": "ui_gauge",
        "z": "6a163fc1071c16f5",
        "name": "",
        "group": "4cb03dd4e1bf63fb",
        "order": 12,
        "width": 7,
        "height": 3,
        "gtype": "gage",
        "title": "SR cat inlet ",
        "label": "oC",
        "format": "{{value}}",
        "min": 0,
        "max": "200",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "100",
        "seg2": "150",
        "x": 1750,
        "y": 480,
        "wires": []
    },
    {
        "id": "1151790b0d70da08",
        "type": "function",
        "z": "6a163fc1071c16f5",
        "name": "Round to two-digits",
        "func": "msg.payload = parseFloat(msg.payload).toFixed(2)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1430,
        "y": 1160,
        "wires": [
            [
                "1c197806b4075881"
            ]
        ]
    },
    {
        "id": "4ed8eb208c82bf28",
        "type": "ui_gauge",
        "z": "6a163fc1071c16f5",
        "name": "",
        "group": "4cb03dd4e1bf63fb",
        "order": 4,
        "width": 7,
        "height": 6,
        "gtype": "wave",
        "title": "TC10",
        "label": "oC",
        "format": "{{value}}",
        "min": 0,
        "max": "70",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1730,
        "y": 400,
        "wires": []
    },
    {
        "id": "602c8120e9c2570c",
        "type": "batch",
        "z": "6a163fc1071c16f5",
        "name": "",
        "mode": "interval",
        "count": 10,
        "overlap": 0,
        "interval": "12",
        "allowEmptySequence": true,
        "topics": [],
        "x": 970,
        "y": 220,
        "wires": [
            [
                "c26d1ced33d0984f"
            ]
        ]
    },
    {
        "id": "c26d1ced33d0984f",
        "type": "join",
        "z": "6a163fc1071c16f5",
        "name": "",
        "mode": "auto",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": "false",
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "x": 1130,
        "y": 220,
        "wires": [
            [
                "5b48da7e287904b7",
                "97f322aa73902575"
            ]
        ]
    },
    {
        "id": "aad63291092d0a7d",
        "type": "debug",
        "z": "6a163fc1071c16f5",
        "name": "temp batch",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1530,
        "y": 160,
        "wires": []
    },
    {
        "id": "5b48da7e287904b7",
        "type": "function",
        "z": "6a163fc1071c16f5",
        "name": "",
        "func": "msg.payload = (msg.payload[msg.payload.length - 1] - msg.payload[0]) / 10\nmsg.payload = parseFloat(msg.payload).toFixed(2)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1300,
        "y": 220,
        "wires": [
            [
                "aad63291092d0a7d",
                "d968a5fe7a1563ec"
            ]
        ]
    },
    {
        "id": "d968a5fe7a1563ec",
        "type": "ui_gauge",
        "z": "6a163fc1071c16f5",
        "name": "",
        "group": "4cb03dd4e1bf63fb",
        "order": 7,
        "width": 8,
        "height": 3,
        "gtype": "donut",
        "title": "Burner Temp Rate",
        "label": "oC/s",
        "format": "{{value}}",
        "min": "-10",
        "max": "10",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1770,
        "y": 360,
        "wires": []
    },
    {
        "id": "e2c6df1571177cd4",
        "type": "ui_countdown_timer_switch",
        "z": "6a163fc1071c16f5",
        "name": "",
        "label": "Countdown",
        "group": "4cb03dd4e1bf63fb",
        "order": 3,
        "width": 30,
        "height": 1,
        "countdowns": [
            "4",
            "45"
        ],
        "onvalue": "Start to count down",
        "onvalueType": "str",
        "offvalue": "Time is elapsed",
        "offvalueType": "str",
        "topic": "",
        "outputState": "",
        "showDropdown": false,
        "x": 170,
        "y": 100,
        "wires": [
            [
                "d81211ae461478ec"
            ]
        ]
    },
    {
        "id": "d81211ae461478ec",
        "type": "ui_toast",
        "z": "6a163fc1071c16f5",
        "position": "dialog",
        "displayTime": "",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "",
        "name": "",
        "x": 400,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "2e27044f4dfda23e",
        "type": "exec",
        "z": "6a163fc1071c16f5",
        "command": "cd dev_iot; python3 Threads_rasp-001.py",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Run python script",
        "x": 430,
        "y": 200,
        "wires": [
            [
                "7a3e2ff5aa959c0e"
            ],
            [
                "d2d51ef1e38c9ea3"
            ],
            [
                "a43f58632a92bd4b"
            ]
        ]
    },
    {
        "id": "af8886836bca42a5",
        "type": "ui_switch",
        "z": "6a163fc1071c16f5",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "4cb03dd4e1bf63fb",
        "order": 1,
        "width": 2,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 140,
        "y": 180,
        "wires": [
            [
                "a1a45934c3545cde"
            ]
        ]
    },
    {
        "id": "a1a45934c3545cde",
        "type": "switch",
        "z": "6a163fc1071c16f5",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 260,
        "y": 260,
        "wires": [
            [
                "2e27044f4dfda23e"
            ],
            [
                "7830c7dfd6af29ca"
            ]
        ]
    },
    {
        "id": "7830c7dfd6af29ca",
        "type": "exec",
        "z": "6a163fc1071c16f5",
        "command": "cd dev_iot; pkill -f Threads_rasp-001.py",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Kill python script",
        "x": 420,
        "y": 280,
        "wires": [
            [
                "0f5b40e44dd8d2f9"
            ],
            [
                "5ee7b9ba5da71e9f"
            ],
            [
                "7668c71724e71cbb"
            ]
        ]
    },
    {
        "id": "97f322aa73902575",
        "type": "debug",
        "z": "6a163fc1071c16f5",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1290,
        "y": 120,
        "wires": []
    },
    {
        "id": "d2d51ef1e38c9ea3",
        "type": "ui_toast",
        "z": "6a163fc1071c16f5",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "",
        "name": "",
        "x": 670,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "7a3e2ff5aa959c0e",
        "type": "debug",
        "z": "6a163fc1071c16f5",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 670,
        "y": 40,
        "wires": []
    },
    {
        "id": "a43f58632a92bd4b",
        "type": "debug",
        "z": "6a163fc1071c16f5",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 670,
        "y": 140,
        "wires": []
    },
    {
        "id": "0f5b40e44dd8d2f9",
        "type": "debug",
        "z": "6a163fc1071c16f5",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 640,
        "y": 260,
        "wires": []
    },
    {
        "id": "7668c71724e71cbb",
        "type": "debug",
        "z": "6a163fc1071c16f5",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 650,
        "y": 320,
        "wires": []
    },
    {
        "id": "5ee7b9ba5da71e9f",
        "type": "debug",
        "z": "6a163fc1071c16f5",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 840,
        "y": 280,
        "wires": []
    },
    {
        "id": "aef9e7d008a35a04",
        "type": "batch",
        "z": "6a163fc1071c16f5",
        "name": "",
        "mode": "interval",
        "count": 10,
        "overlap": 0,
        "interval": "12",
        "allowEmptySequence": true,
        "topics": [],
        "x": 970,
        "y": 180,
        "wires": [
            [
                "eebfc37064e825d6"
            ]
        ]
    },
    {
        "id": "eebfc37064e825d6",
        "type": "join",
        "z": "6a163fc1071c16f5",
        "name": "",
        "mode": "auto",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": "false",
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "x": 1130,
        "y": 180,
        "wires": [
            [
                "d52cfed26a6b6caf"
            ]
        ]
    },
    {
        "id": "d52cfed26a6b6caf",
        "type": "function",
        "z": "6a163fc1071c16f5",
        "name": "",
        "func": "msg.payload = (msg.payload[msg.payload.length - 1] - msg.payload[0]) / 10\nmsg.payload = parseFloat(msg.payload).toFixed(2)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1300,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "81fc52b02be9fbf9",
        "type": "ui_gauge",
        "z": "6a163fc1071c16f5",
        "name": "",
        "group": "4cb03dd4e1bf63fb",
        "order": 13,
        "width": 8,
        "height": 3,
        "gtype": "donut",
        "title": "SR_inlet Temp Rate",
        "label": "oC/s",
        "format": "{{value}}",
        "min": "-10",
        "max": "10",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1780,
        "y": 320,
        "wires": []
    },
    {
        "id": "252793267f40f674",
        "type": "ui_toast",
        "z": "6a163fc1071c16f5",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "Noticed",
        "cancel": "",
        "raw": false,
        "topic": "",
        "name": "BW reformer air 200LPM max",
        "x": 1270,
        "y": 1780,
        "wires": [
            []
        ]
    },
    {
        "id": "9daf6c2a6bc219eb",
        "type": "ui_gauge",
        "z": "6a163fc1071c16f5",
        "name": "",
        "group": "62c1eaa282dd444b",
        "order": 2,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "Scale",
        "label": "g/min",
        "format": "{{value}}",
        "min": 0,
        "max": "15",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1050,
        "y": 2180,
        "wires": []
    },
    {
        "id": "84870f91da3b195e",
        "type": "batch",
        "z": "6a163fc1071c16f5",
        "name": "",
        "mode": "interval",
        "count": 10,
        "overlap": 0,
        "interval": "12",
        "allowEmptySequence": true,
        "topics": [],
        "x": 551.6666870117188,
        "y": 2180.333251953125,
        "wires": [
            [
                "9d691e7fa6e384e8"
            ]
        ]
    },
    {
        "id": "9d691e7fa6e384e8",
        "type": "join",
        "z": "6a163fc1071c16f5",
        "name": "",
        "mode": "auto",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 711.6666870117188,
        "y": 2180.333251953125,
        "wires": [
            [
                "6f0f76b13c16620c"
            ]
        ]
    },
    {
        "id": "6f0f76b13c16620c",
        "type": "function",
        "z": "6a163fc1071c16f5",
        "name": "",
        "func": "msg.payload = (msg.payload[0] - msg.payload[msg.payload.length - 1]) / 10\nmsg.payload = parseFloat(msg.payload).toFixed(2)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 881.6666870117188,
        "y": 2180.333251953125,
        "wires": [
            [
                "9daf6c2a6bc219eb",
                "a9b474eb5c49a695"
            ]
        ]
    },
    {
        "id": "a9b474eb5c49a695",
        "type": "debug",
        "z": "6a163fc1071c16f5",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1200,
        "y": 2120,
        "wires": []
    },
    {
        "id": "f8aea8534f5e2a70",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "RPi",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "297f87ae35596935",
        "type": "ui_group",
        "name": "Dashboard",
        "tab": "e427e8a2.33a718",
        "order": 4,
        "disp": true,
        "width": 28,
        "collapse": false
    },
    {
        "id": "62c1eaa282dd444b",
        "type": "ui_group",
        "name": "Chart",
        "tab": "662b1e41ad4ec8e6",
        "order": 3,
        "disp": true,
        "width": 24,
        "collapse": false
    },
    {
        "id": "c6375cf50c3cb618",
        "type": "ui_group",
        "name": "Dashboard",
        "tab": "81827930559ca1a3",
        "order": 2,
        "disp": true,
        "width": 28,
        "collapse": false
    },
    {
        "id": "f7b9b84f65a2452b",
        "type": "ui_group",
        "name": "Dashboard",
        "tab": "3a0b2c699094b623",
        "order": 1,
        "disp": true,
        "width": 28,
        "collapse": false
    },
    {
        "id": "700453c3.f1167c",
        "type": "gauth"
    },
    {
        "id": "4cb03dd4e1bf63fb",
        "type": "ui_group",
        "name": "Dashboard",
        "tab": "3951a8c0da358f70",
        "order": 1,
        "disp": true,
        "width": 30,
        "collapse": false
    },
    {
        "id": "e427e8a2.33a718",
        "type": "ui_tab",
        "name": "TC_SerEnergy",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "662b1e41ad4ec8e6",
        "type": "ui_tab",
        "name": "Gas Production",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "81827930559ca1a3",
        "type": "ui_tab",
        "name": "Pressure Board",
        "icon": "dashboard",
        "order": 5,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "3a0b2c699094b623",
        "type": "ui_tab",
        "name": "Setting",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "3951a8c0da358f70",
        "type": "ui_tab",
        "name": "TC_BW",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    }
]