NodeRed_sandbox/NodeRed_Json/Pump_TC_Scale_MQTT.json
[
    {
        "id": "4b2a5b55.743784",
        "type": "tab",
        "label": "Pump_TC_Scale_MQTT",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a04b34f7.f3dd08",
        "type": "inject",
        "z": "4b2a5b55.743784",
        "name": "Inject to nodered_DB",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "nodered_DB",
        "payload": "DB",
        "payloadType": "flow",
        "x": 1000,
        "y": 60,
        "wires": [
            [
                "fb52078d.74e6a8"
            ]
        ]
    },
    {
        "id": "a780d69a.1c1868",
        "type": "mqtt in",
        "z": "4b2a5b55.743784",
        "name": "SV0_MQTT",
        "topic": "Header_EVA_SV",
        "qos": "0",
        "datatype": "auto",
        "broker": "79fd98a.0759f68",
        "x": 690,
        "y": 420,
        "wires": [
            [
                "b4364b68.471f38"
            ]
        ]
    },
    {
        "id": "b4364b68.471f38",
        "type": "debug",
        "z": "4b2a5b55.743784",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 920,
        "y": 420,
        "wires": []
    },
    {
        "id": "9df8791c.ffe1a8",
        "type": "mqtt out",
        "z": "4b2a5b55.743784",
        "name": "SV0_MQTT",
        "topic": "Header_EVA_SV",
        "qos": "0",
        "retain": "true",
        "broker": "79fd98a.0759f68",
        "x": 690,
        "y": 340,
        "wires": []
    },
    {
        "id": "6c54c08b.c977a",
        "type": "debug",
        "z": "4b2a5b55.743784",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 530,
        "y": 300,
        "wires": []
    },
    {
        "id": "9dae44d8.675cb8",
        "type": "ui_text_input",
        "z": "4b2a5b55.743784",
        "name": "SV0 User Input",
        "label": "SV0 User Input",
        "tooltip": "Fill in SV",
        "group": "d0dc53aa.b77bd",
        "order": 1,
        "width": 3,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "Header_EVA_SV",
        "topicType": "str",
        "x": 300,
        "y": 340,
        "wires": [
            [
                "6c54c08b.c977a",
                "9df8791c.ffe1a8",
                "1934c716.f5e549"
            ]
        ]
    },
    {
        "id": "53935ea.82598a",
        "type": "mqtt in",
        "z": "4b2a5b55.743784",
        "name": "SV1_MQTT",
        "topic": "TCHeader_1_SV",
        "qos": "0",
        "datatype": "auto",
        "broker": "47abbbbc.1c8394",
        "x": 690,
        "y": 740,
        "wires": [
            [
                "60d649f1.2212c8"
            ]
        ]
    },
    {
        "id": "60d649f1.2212c8",
        "type": "debug",
        "z": "4b2a5b55.743784",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 920,
        "y": 740,
        "wires": []
    },
    {
        "id": "a6e7c786.6a2b18",
        "type": "mqtt out",
        "z": "4b2a5b55.743784",
        "name": "SV1_MQTT",
        "topic": "TCHeader_1_SV",
        "qos": "0",
        "retain": "true",
        "broker": "47abbbbc.1c8394",
        "x": 690,
        "y": 660,
        "wires": []
    },
    {
        "id": "1b80b9bc.472936",
        "type": "debug",
        "z": "4b2a5b55.743784",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 530,
        "y": 620,
        "wires": []
    },
    {
        "id": "a4b68833.fe9ae8",
        "type": "ui_text_input",
        "z": "4b2a5b55.743784",
        "name": "SV1 User Input",
        "label": "SV1 User Input",
        "tooltip": "Fill in SV ",
        "group": "d0dc53aa.b77bd",
        "order": 2,
        "width": 3,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "TCHeader_1_SV",
        "topicType": "str",
        "x": 300,
        "y": 660,
        "wires": [
            [
                "1b80b9bc.472936",
                "a6e7c786.6a2b18",
                "67dd987a.65ef98"
            ]
        ]
    },
    {
        "id": "59864dce.06c194",
        "type": "mqtt in",
        "z": "4b2a5b55.743784",
        "name": "Header_EVA_PV_MQTT",
        "topic": "Header_EVA_PV",
        "qos": "0",
        "datatype": "auto",
        "broker": "79fd98a.0759f68",
        "x": 260,
        "y": 900,
        "wires": [
            [
                "207365bb.674a2a",
                "71dd71f8.b9aab"
            ]
        ]
    },
    {
        "id": "207365bb.674a2a",
        "type": "debug",
        "z": "4b2a5b55.743784",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 510,
        "y": 900,
        "wires": []
    },
    {
        "id": "50282454.6a397c",
        "type": "mqtt in",
        "z": "4b2a5b55.743784",
        "name": "TCHeader_1_PV_MQTT",
        "topic": "TCHeader_1_PV",
        "qos": "0",
        "datatype": "auto",
        "broker": "79fd98a.0759f68",
        "x": 260,
        "y": 1080,
        "wires": [
            [
                "c21b2764.bea238",
                "ef6c7439.455ef8"
            ]
        ]
    },
    {
        "id": "c21b2764.bea238",
        "type": "debug",
        "z": "4b2a5b55.743784",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 490,
        "y": 1080,
        "wires": []
    },
    {
        "id": "1934c716.f5e549",
        "type": "change",
        "z": "4b2a5b55.743784",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "DB.SV0",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "e54f7e7c.dc97b",
        "type": "inject",
        "z": "4b2a5b55.743784",
        "name": "Init Flow DB",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.001",
        "topic": "",
        "payload": "{\"SV0\":0,\"SV1\":0,\"PV0\":0,\"PV1\":0,\"Scale\":0}",
        "payloadType": "json",
        "x": 150,
        "y": 80,
        "wires": [
            [
                "28b3cdaa.6761b2",
                "9099d8a.e187b28"
            ]
        ]
    },
    {
        "id": "28b3cdaa.6761b2",
        "type": "change",
        "z": "4b2a5b55.743784",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "DB",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "9099d8a.e187b28",
        "type": "debug",
        "z": "4b2a5b55.743784",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 350,
        "y": 120,
        "wires": []
    },
    {
        "id": "5232cee7.bee96",
        "type": "debug",
        "z": "4b2a5b55.743784",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1430,
        "y": 60,
        "wires": []
    },
    {
        "id": "67dd987a.65ef98",
        "type": "change",
        "z": "4b2a5b55.743784",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "DB.SV1",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "d8828bdb.030cc8",
        "type": "change",
        "z": "4b2a5b55.743784",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "DB.PV0",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 840,
        "wires": [
            [
                "ea66f7ca.e6abe8"
            ]
        ]
    },
    {
        "id": "d78cf2d1.cff0e",
        "type": "change",
        "z": "4b2a5b55.743784",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "DB.PV1",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 1000,
        "wires": [
            [
                "ea66f7ca.e6abe8"
            ]
        ]
    },
    {
        "id": "ea66f7ca.e6abe8",
        "type": "ui_chart",
        "z": "4b2a5b55.743784",
        "name": "",
        "group": "d0dc53aa.b77bd",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "TCHeader_chart",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 960,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "fb52078d.74e6a8",
        "type": "function",
        "z": "4b2a5b55.743784",
        "name": "",
        "func": "msg.array = [\n    msg.payload.SV0, \n    msg.payload.SV1, \n    msg.payload.PV0, \n    msg.payload.PV1,\n    msg.payload.Scale\n    ]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1230,
        "y": 60,
        "wires": [
            [
                "5232cee7.bee96",
                "ec2d95fa.46ac98"
            ]
        ]
    },
    {
        "id": "ec2d95fa.46ac98",
        "type": "change",
        "z": "4b2a5b55.743784",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "array",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1460,
        "y": 140,
        "wires": [
            [
                "953f987f.2e8c38",
                "61e566ed.d418c8",
                "b6c434d0.7f85e8"
            ]
        ]
    },
    {
        "id": "61e566ed.d418c8",
        "type": "debug",
        "z": "4b2a5b55.743784",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1690,
        "y": 200,
        "wires": []
    },
    {
        "id": "71dd71f8.b9aab",
        "type": "function",
        "z": "4b2a5b55.743784",
        "name": "",
        "func": "msg.payload = parseFloat(msg.payload)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 480,
        "y": 840,
        "wires": [
            [
                "d8828bdb.030cc8"
            ]
        ]
    },
    {
        "id": "af020f7e.c51ec",
        "type": "file",
        "z": "4b2a5b55.743784",
        "name": "csv",
        "filename": "/home/pi/dev_iot/NodeRed_sandbox/data/test.csv",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1870,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "b6c434d0.7f85e8",
        "type": "csv",
        "z": "4b2a5b55.743784",
        "name": "",
        "sep": ",",
        "hdrin": "",
        "hdrout": "none",
        "multi": "one",
        "ret": "\\n",
        "temp": "a,b,c,d",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 1670,
        "y": 80,
        "wires": [
            [
                "af020f7e.c51ec",
                "45325cba.a3a554"
            ]
        ]
    },
    {
        "id": "45325cba.a3a554",
        "type": "debug",
        "z": "4b2a5b55.743784",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1890,
        "y": 40,
        "wires": []
    },
    {
        "id": "ef6c7439.455ef8",
        "type": "function",
        "z": "4b2a5b55.743784",
        "name": "",
        "func": "msg.payload = parseFloat(msg.payload)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 480,
        "y": 1000,
        "wires": [
            [
                "d78cf2d1.cff0e"
            ]
        ]
    },
    {
        "id": "953f987f.2e8c38",
        "type": "GSheet",
        "z": "4b2a5b55.743784",
        "creds": "700453c3.f1167c",
        "method": "append",
        "action": "",
        "sheet": "1lOTmshcxpiFN5gS1Imb9cQJEx7GGZsbWBz4XVL5EG4w",
        "cells": "Sheet1!A1:4",
        "flatten": false,
        "name": "",
        "x": 1710,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "a6087226.fc11",
        "type": "mqtt in",
        "z": "4b2a5b55.743784",
        "name": "Scale_MQTT",
        "topic": "Scale",
        "qos": "0",
        "datatype": "auto",
        "broker": "79fd98a.0759f68",
        "x": 230,
        "y": 1260,
        "wires": [
            [
                "31877a40.bd3026",
                "d0071fb7.ed574"
            ]
        ]
    },
    {
        "id": "31877a40.bd3026",
        "type": "debug",
        "z": "4b2a5b55.743784",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 490,
        "y": 1260,
        "wires": []
    },
    {
        "id": "3a5ecf5c.68ba4",
        "type": "change",
        "z": "4b2a5b55.743784",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "DB.Scale",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 1180,
        "wires": [
            [
                "bc4f64cc.4faef8",
                "ebea0f2d.1aec"
            ]
        ]
    },
    {
        "id": "d0071fb7.ed574",
        "type": "function",
        "z": "4b2a5b55.743784",
        "name": "",
        "func": "msg.payload = parseFloat(msg.payload)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 480,
        "y": 1180,
        "wires": [
            [
                "3a5ecf5c.68ba4"
            ]
        ]
    },
    {
        "id": "bc4f64cc.4faef8",
        "type": "ui_chart",
        "z": "4b2a5b55.743784",
        "name": "",
        "group": "5bc8200f.c1064",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 890,
        "y": 1180,
        "wires": [
            []
        ]
    },
    {
        "id": "ebea0f2d.1aec",
        "type": "ui_gauge",
        "z": "4b2a5b55.743784",
        "name": "",
        "group": "5bc8200f.c1064",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "g/min",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 890,
        "y": 1220,
        "wires": []
    },
    {
        "id": "79fd98a.0759f68",
        "type": "mqtt-broker",
        "name": "nodered_client_0",
        "broker": "localhost",
        "port": "1883",
        "clientid": "nodered_client_0",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "nodered",
        "birthQos": "0",
        "birthRetain": "true",
        "birthPayload": "hello from nodered",
        "closeTopic": "nodered",
        "closeQos": "0",
        "closeRetain": "true",
        "closePayload": "byebye from nodered",
        "willTopic": "nodered",
        "willQos": "0",
        "willRetain": "true",
        "willPayload": "accident from nodered"
    },
    {
        "id": "d0dc53aa.b77bd",
        "type": "ui_group",
        "name": "TCHeader_PV&SV",
        "tab": "e427e8a2.33a718",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "47abbbbc.1c8394",
        "type": "mqtt-broker",
        "name": "nodered_client_1",
        "broker": "localhost",
        "port": "1883",
        "clientid": "nodered_client_1",
        "usetls": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "700453c3.f1167c",
        "type": "gauth"
    },
    {
        "id": "5bc8200f.c1064",
        "type": "ui_group",
        "name": "Scale",
        "tab": "e427e8a2.33a718",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "e427e8a2.33a718",
        "type": "ui_tab",
        "name": "Platform",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]